* {
    box-sizing: border-box;
  }

body {
    margin: 0;
    background-color: black;
    color: rgb(8, 68, 84);
}

.main {
    width: 100%;
    background-color: white;
}
.navbar {
    height: 132px;
    background-color: aliceblue;
}

.img-bg {
    width: 100%;

}

.about {
    background: rgb(245, 254, 254);
    width: 71%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    bottom: 9.8em;
    font-family: sans-serif;
    padding-top: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.aboutheader {
    font-size: 39px;
    width: 65%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: sans-serif;
    font-weight: bolder;
}

.about-info {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    
}

.OS-section {
    display: flex;
    padding-top: 50px;
}

.OS {
    font-size: 125px;
    line-height: 0px;
    padding-top: 90px;
    font-family: sans-serif;
    font-weight: bolder;
}

.OS-info1 {
    font-size: 30px;
    padding-left: 76px;
    font-family: sans-serif;
}

.ctd-section {
    display: flex;
    padding-top: 50px;
}

.ctd-info2 {
    font-size: 30px;
    padding-right: 33px;
}

.ctd {
    font-size: 70px;
    font-weight: bolder;
}

.FR-section {
    display: flex;
    padding-top: 50px;
}

.FR {
    font-size: 70px;
    line-height: 0px;
    font-weight: bolder;
    padding-top: 22px;
}

.FR-info3 {
    padding-left: 163px;
    font-size: 30px;
}

.cs-section {
    padding-top: 50px;
    padding-bottom: 30px;
    display: flex;
}

.cs {
    font-size: 70px;
    font-weight: bolder;
    padding-top: 0px;
    padding-right: 30px;
}

.cs-info4 {
    padding-top: 6px;
    padding-right: 60px;
    font-size: 30px;
}

.footer {
    height: 132px;
    background-color: aliceblue;
}

@media only screen and (max-width: 1230px) {  
    .main {
        width: 100%;
      }

    .about {
        width: 100%;
        bottom: 0em; 
    }

    .img-bg {
        display: none;
    }

    .aboutheader {
        width: 100%;
        font-size: 20px;
    }
    
    .about-info {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .OS-section {
        display: grid;
        padding-top: 50px;
    }
    
    .OS {
        font-size: 65px;
        padding-top: 10px;
        font-size: 32px;
    }
    
    .OS-info1 {
        font-family: sans-serif;
        font-size: 16px;
        padding-left: 0px;
    }
    
    .ctd-section {
        display: grid;
        grid-template-rows: 1fr 1fr;
        padding-top: 50px;
    }
    
    .ctd-info2 {
        padding-left: 70px;
        font-size: 16px;
        padding-left: 0px;
    }
    
    .ctd {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        grid-row: 1 / 2;
        margin-bottom: auto; 
        font-size: 32px;
    }

    .FR-section {
        display: grid;
        padding-top: 50px;
    }
    
    .FR {
        font-size: 32px;
    }
    
    .FR-info3 {
        padding-left: 75px;
        padding-left: 0px;
        font-size: 16px;
    }

    .cs-section {
        font-size: 20px;
        padding-top: 50px;
        padding-bottom: 30px;
        display: grid;
        grid-template-rows: 1fr 1fr;
    }
    
    .cs {
        grid-row: 1 / 2;
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        font-size: 32px;
    }
    
    .cs-info4 {
        padding-left: 75px;
        padding-left: 0px;
        font-size: 16px;
    }
  }
