@font-face
{
font-family: Calibre-Regular;
font-weight: 400;
src: url("../fonts/Calibre-Regular.otf") format("opentype");
}

body
{
    font-family: Calibre-Regular;
}

.a-href-contact
{
    text-decoration: none;
}

.contact-container
{
    margin-right: 10vw;
    margin-left: 10vw;
}

.contact-header
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact-flex-center
{
    margin: 0;
    text-align: center;
}

.contact-grid
{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.contact-content
{
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 60px 30px rgba(0, 0, 0, 0.03);
    overflow: hidden;
}


.contact-circle
{
    width: 360px;
    height: 200px;
    /* width: 70%;
    height: 25%;  */
    background-color: #C7EAF8;
    border-radius: 270px 270px 0 0;
    position: absolute;
    bottom: -1px;
    right: -100px;
}

.contact-circle2
{
    width: 175px;
    height: 170px;
    background-color: rgba(220, 241, 249, 0.50);
    border-radius: 100%;
    position: absolute;
    bottom: 70px; 
    right: 110px; 
}

.contact-left
{
    padding: 40px 20px;
    border-radius: 0.5rem;
    background-color: #799DAB;
    position: relative;
}

.contact-right
{
    padding: 100px;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 60px 30px rgba(0, 0, 0, 0.03);
}

.contact-left-text
{
    margin-bottom: 80px;
    padding: 0px 20px;
}

.contact-darkblue
{
    color: #799dab;
}

.contact-darkblue h1
{
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.contact-white
{
    color: white;
}

#contact-grey
{
    color: #C9C9C9;
    font-size: 1.5rem;
}

.icons-contact
{
    width: 5%;
    margin: 0px 20px;
}

.contact-icons
{
    font-size: 1em;
    padding: 20px 30px;
}

.location-icon
{
    width: 4%;
}

.contact-row
{
    display: flex;
    flex-direction: column;
    padding: 20px;
    flex: 1 1 50%;
}

.contact-flex01
{
    display: flex;
}

.contact-flex02
{
    display: flex;
}

.radio-container
{
    display: flex;
    align-items: flex-start;
    margin: 10px;
}

.radio-container input[type="radio"]
{
    margin-right: 5px;
}

.radio-container label
{
    display: inline-block;
    width: calc(100% - 30px); 
    word-wrap: break-word; 
}

label
{
    color: #799DAB;
}

input 
{
    outline: none; 
    border: none; 
    border-bottom: 1px solid rgb(0, 0, 0); 
    padding: 5px 0; 
    font-size: 14px;  
    margin-bottom: 20px; 
}

.custom-input
{
    width: 75%;
}

.contact-button
{
    padding-top: 40px;
    padding-left: 470px;
}

.contact-button input[type="submit"]
{
    padding: 15px 7px;
    font-size: 1rem; 
    background-color: #799DAB;
    color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.12);
    border: none; 
    cursor: pointer; 
    width: 240px;
}

.radio-container
{
    white-space: nowrap;
}

.radio-container input[type="radio"]
{
    margin-left: 20px;
}

.airport
{
    display: block; 
    margin: 0 auto; 
    width: 40%; 
    transform: rotate(-29.753deg);
}

.air
{
    position: fixed;
}

.box-question
{
    width: 70%;
    grid-column: 6 / 1;
    padding-right: 5px;
    padding-left: 5px; 
    background-color: rgba(220, 241, 249, 1);
    margin-top: 20px;
}

.button-question
{
    background-color: rgba(237, 250, 255, 1);
    width: 10%;
    text-align: center;
    cursor: pointer;
    padding: 0px 20px 0px 15px;
    align-items: center;
}

@media screen and (max-width: 1284px)
{
    .contact-right
    {
        padding: 30px;
    }

    /* .contact-circle
    {
        width: 90%;
        height: 20%;
        bottom: -1px;
        right: -100px;
    }
    
    .contact-circle2
    {
        width: 50%;
        height: 20%;
        position: absolute;
        bottom: 50px; 
        right: 5px; 
    } */

    .box-question
    {
        width: 90%;
        margin-top: 10px;
    }
}

@media screen and (max-width: 1024px)
{
    .contact-grid
    {
        display: grid;
        grid-template-columns: 1fr;
    }

    .contact-left
    {
      grid-row: 2;
    }

    .contact-right
    {
        padding: 0;
    }
    
    .contact-left-text
    {
        font-size: 1.5rem;
    }

    .contact-inline
    {
        font-size: 2rem;
    }

    input 
    {
        font-size: 2rem;
        width: 90%;
    }

    .contact-flex01
    {
        display: block;
    }

    .contact-flex02
    {
        display: block;
    }
    
    .radio-container
    {
        flex-direction: column;
        font-size: 2.5rem;
        white-space: nowrap;
        padding: 10px;
    }

    .contact-radios
    {
        display: flex;
        flex-direction: row;
        white-space: nowrap;
        padding-bottom: 20px;
    }

    .radio-container input[type="radio"]
    {
        margin-right: 5px;
    }

    .air 
    {
        display: none;
    }

    .contact-darkblue
    {
        font-size: 2rem;
        margin-left: 20px;
    }

    .custom-input
    {
        width: 70%;
        margin-left: 20px;
    }

    .contact-button
    {
    padding-left: 30px;
    }

    .contact-button input[type="submit"]
    {
    font-size: 2rem; 
    width: 50%;
    }

    
    .contact-icons
    {
        font-size: 2rem;
    }

    .icons-contact
    {
        width: 5%;
    }

    .location-icon
    {
        width: 4%;
    }

    .box-question
    {
        width: 100%;
    }

    .button-question
    {
        width: 90%;
    }
}


@media screen and (max-width: 820px)
{
    .contact-grid
    {
        display: grid;
        grid-template-columns: 1fr;
    }

    .contact-left
    {
      grid-row: 2;
    }

    .contact-right
    {
        padding: 0;
    }
    
    .contact-left-text
    {
        font-size: 1.5rem;
    }

    .contact-inline
    {
        font-size: 2rem;
    }

    input 
    {
        font-size: 2rem;
        width: 90%;
    }

    .contact-flex01
    {
        display: block;
    }

    .contact-flex02
    {
        display: block;
    }
    
    .radio-container
    {
        flex-direction: column;
        font-size: 2.5rem;
        white-space: nowrap;
        padding: 10px;
    }

    .contact-radios
    {
        display: flex;
        flex-direction: row;
        white-space: nowrap;
        padding-bottom: 20px;
    }

    .radio-container input[type="radio"]
    {
        margin-right: 5px;
    }

    .air 
    {
        display: none;
    }

    .contact-darkblue
    {
        font-size: 2rem;
        margin-left: 20px;
    }

    .custom-input
    {
        width: 70%;
        margin-left: 20px;
    }

    .contact-button
    {
    padding-left: 30px;
    }

    .contact-button input[type="submit"]
    {
    font-size: 2rem; 
    width: 50%;
    }

    
    .contact-icons
    {
        font-size: 2rem;
    }

    .icons-contact
    {
        width: 5%;
    }

    .location-icon
    {
        width: 4%;
    }

    .box-question
    {
        width: 100%;
    }

    .button-question
    {
        width: 90%;
    }
}


@media screen and (max-width: 768px)
{
    .contact-grid
    {
        display: grid;
        grid-template-columns: 1fr;
    }

    .contact-left
    {
      grid-row: 2;
    }

    .contact-right
    {
        padding: 0;
    }
    
    .contact-left-text
    {
        font-size: 1.5rem;
    }

    .contact-inline
    {
        font-size: 2rem;
    }

    input 
    {
        font-size: 2rem;
        width: 90%;
    }

    .contact-flex01
    {
        display: block;
    }

    .contact-flex02
    {
        display: block;
    }
    
    .radio-container
    {
        flex-direction: column;
        font-size: 2.5rem;
        white-space: nowrap;
        padding: 10px;
    }

    .contact-radios
    {
        display: flex;
        flex-direction: row;
        white-space: nowrap;
        padding-bottom: 20px;
    }

    .radio-container input[type="radio"]
    {
        margin-right: 5px;
    }

    .air 
    {
        display: none;
    }

    .contact-darkblue
    {
        font-size: 2rem;
        margin-left: 20px;
    }

    .custom-input
    {
        width: 70%;
        margin-left: 20px;
    }

    .contact-button
    {
    padding-left: 30px;
    }

    .contact-button input[type="submit"]
    {
    font-size: 2rem; 
    width: 50%;
    }

    
    .contact-icons
    {
        font-size: 2rem;
    }

    .icons-contact
    {
        width: 5%;
    }

    .location-icon
    {
        width: 4%;
    }

    .box-question
    {
        width: 100%;
    }

    .button-question
    {
        width: 90%;
    }
}


@media screen and (max-width: 430px) 
{
    .contact-grid
    {
        display: grid;
        grid-template-columns: 1fr;
    }

    .contact-button
    {
    padding-left: 30px;
    }

    .contact-button input[type="submit"]
    {
    font-size: 2rem; 
    width: 50%;
    }

    .contact-header
    {
        display: none;
    }

    .radio-container
    {
        flex-direction: column;
        font-size: 2.5rem;
        white-space: nowrap;
        padding: 10px;
    }

    .contact-radios
    {
        display: flex;
        flex-direction: row;
        white-space: nowrap;
        padding-bottom: 20px;
    }

    .air 
    {
        display: none;
    }

    .contact-selector
    {
        display: flex;
        flex-direction: column;
        padding-right: 20px;
    }

    .contact-darkblue
    {
        font-size: 2.5rem;
        margin-left: 20px;
    }

    .contact-right
    {
        padding: 0;
    }

    .contact-left
    {
      grid-row: 2;
    }
    
    .contact-flex01
    {
        display: block;
    }

    .contact-flex02
    {
        display: block;
    }

    .contact-left-text
    {
        font-size: 1.5rem;
    }

    .contact-inline
    {
        font-size: 2rem;
    }

    input 
    {
        font-size: 2rem;
        width: 90%;
    }

    .custom-input
    {
        width: 65%;
        margin-left: 20px;
    }

    .radio-container
    {
        display: flex;
        align-items: flex-start;
        margin: 10px;
        white-space: wrap;
    }

    .radio-container input[type="radio"]
    {
        margin-right: 5px;
    }

    .contact-icons
    {
        font-size: 2rem;
    }

    .icons-contact
    {
        width: 5%;
    }

    .location-icon
    {
        width: 4%;
    }

    .box-question
    {
        width: 100%;
    }

    .button-question
    {
        width: 90%;
    }
}