.Faq-ask{
    display: grid;
    background-color:#799DAB;
    justify-items:center;
    padding: 2em;
    color: white;
}

.Faq-questions{
    background-color: #DCF1F9;
   width: 40em;
   margin: 2em;
   padding: 1em;
    
}

.contain-Faq {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    color: #53686A;
}

.grid-container-Faq {
    grid-column: 2 / 3;
    display: grid;
    gap: 2em;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

@media (max-width: 900px) {
    .grid-container-Faq {
        grid-template-columns: repeat(auto-fill, minmax(320px, 1fr)); 
    }
}

.Faq-button{
    border-color: transparent;
    float: right;
    border: 2px solid transparent;
}



