.container
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 150px 1fr 1fr ;
    margin-inline: 5rem;
    gap: 1rem;
    color:  #799DAB ;
    min-height: 90vh;
}
.categori h1
{
    font-size: 20px;
    grid-column: 2/3;
    margin-bottom: 0;
}
.categori
{
    width: 50% ;
    height: 100%;
    border: solid #799DAB 1px;
    margin-left: 50%;
    display: grid;
    grid-template-columns: 10px auto 5px;
    
}
.flexholder
{
    display: flex;
    flex-direction: column;
    grid-column: 2/3;
    gap: 1rem;
    
}
.rightsection
{
    grid-column: 2/5;
    margin-inline: 5%;
}

.rightsection input
{
    width: 100%;
    height: 2rem;
    border: 1px solid  #799DAB ;
    border-radius: 0;
    position: relative;
}

::placeholder
{  
    color:#799DAB;
}
.pic
{

    margin-block: 5px;
    margin-inline:10%;

}
.pic img
{
    width: 90%;
    height: 80%;
  
}
.first 
{
    grid-column: 2/3;
}
.second
{
    grid-column: 3/4;
}
.third
{
    grid-column: 4/5;
}
.forth
{
    grid-column: 3/4;
}
