.educationBody
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #799DAB;
}

.educationContainer
{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.educationH1
{
    text-align: center;
    color: #799DAB;
    margin-bottom: 40px;
}

.educationH2
{
    margin-bottom: 10px;
    font-size: 1.5rem;
}

.faculty-section
{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    align-items: center;
    margin-bottom: 50px;
}

.faculty-image img
{
    width: 35vw;
    height: 45vh; 
}

.faculty-text
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.faculty-text p,
.faculty-text ul
{
    margin-bottom: 10px;
}

.educationUl
{
    list-style: none;
    padding-left: 0px;
}

.student-section
{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    align-items: center;
    margin-bottom: 50px;
}

.student-section img
{
    /* width: 100%;
    max-width: 350px;
    height: auto; */

    width: 35vw;
    height: 45vh; 
}

.student-text
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.student-text p,
.student-text ul
{
    margin-bottom: 10px;
}

@media (max-width: 768px)
{
    .faculty-section,
    .student-section
    {
        margin:  0 auto;
    }
}

.educationBtn
{
    display: flex;
    gap: 10px;
    justify-content: center;
    padding-top: 10px;
}

.education-seePackages
{
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3 ease;

    background-color: white;
    border: 1px solid #799DAB;
    color: #799DAB;
}

.education-seePackages:hover
{
    background-color: #799DAB;
    color: white;
}

/* sign up  */
