* {
  font-family: "Test Calibre", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #799dab;
  margin-bottom: 40px;
}

h2 {
  /* font-weight: bold; */
  margin-bottom: 10px;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
  }

/* comms section */
.comms-section {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  align-items: center;
  margin-bottom: 50px;
}

.comms-image img {
  width: 100%;
  max-width: 350px;
  height: auto;
}

.comms-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-wrap: balance;
}

.comms-text p,
.comms-text ul {
  margin-bottom: 10px;
}

/* efficiency section */
.efficiency-section {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  align-items: center;
  margin-bottom: 50px;
}

.efficiency-image img {
  width: 100%;
  max-width: 350px;
  height: auto;
}

.efficiency-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.efficiency-text p,
.efficiency-text ul {
  margin-bottom: 10px;
}

.efficiency-section,
.efficiency-text{
  text-align: right;
  text-wrap: balance;
}   

/* responsive design */
@media (max-width: 768px) {
  .comms-section,
  .efficiency-section {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .comms-image img,
  .efficiency-image img {
    margin: 0 auto;
  }
}

/* boxes */
.child-left {
  border: 1px solid #c6e8f7;
  float: left;
  width: 250px;
  height: 200px;
}
.child-right {
  border: 1px solid #c6e8f7;
  float: right;
  width: 250px;
  height: 200px;
}

.child-left p,
.child-left ul {
  margin-inline: 10px;
}

.child-right p,
.child-right ul {
  margin-inline: 10px;
}

@media (min-width: 768px) {
  .parent {
    display: flex;
    justify-content: space-evenly;
  }
}

/* buttons */
.section-buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding-top: 10px;
}

.cart-btn,
.buy-btn {
  padding: 10px 5px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3 ease;

  background-color: white;
  border: 1px solid #799dab;
  color: #799dab;
}

.buy-btn:hover,
.cart-btn:hover {
  background-color: #799dab;
  color: white;
}


/* .efficiency-section,
.efficiency-text{
  text-align: right;
}   

.efficiency-text ul{
    list-style-position: inside;
    text-align: right;
}

.efficiency-text li::marker{
    color: yellow;
}

h2 + ul > li{
    color: green;
    list-style-position: inside;
} */