* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #799dab;
}

body {
  background-color: #f7f8fc;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: 20px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-section,
.image-section {
  padding: 20px;
  flex: 1;
}

.form-section {
  background-color: #f0f4f8;
}

h2 {
  color: #799dab;
  font-weight: bold;
}

p {
  margin-bottom: 20px;
  font-size: 14px;
}

a {
  color: #799dab;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="checkbox"] {
  margin-right: 10px;
}

.checkbox label {
  display: inline;
}

.btn {
  background-color: #c6e8f7;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.btn:hover {
  background-color: #799dab;
}

.image-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-section img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}

@media (max-width: 320px) {
  .form-section,
  .image-section {
    padding: 10px;
  }
  .btn {
    padding: 8px 15px;
  }
}

.errorMsg
{
    padding-top: 10px;
}